.DS_Store
.eslintrc.js
.nova
.env
.env_dev
/data/cache
/data/private
/jest
/jsdoc
/node_modules
/public/_index.html
/public/temp
/public/images/gyms
/public/images/members
/temp
/test
/testing.js
/todo.taskpaper