.form-check {
	display: inline-block !important;
	margin: 5px;
	font-size: .8em;
}

.form-check label {
	Xbackground: #eee;
	Xdisplay: inline-block;
	Xborder: 1px solid #ddd;
	Xpadding: 5px;
	XXXpadding-left: 10px;
	border-radius: 15px;
	width: 240px;
	cursor: pointer;
	text-align: center;

	padding: 6px 12px;
	border-color: #eaeaea;
	background: #fafafa;
	cursor: default;
	XXXposition: static;
	color: #999;
	/* Usually, !important should be avoided but here it's really needed :) */
	XX-moz-box-shadow: none !important;
	XX-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	
}

.form-check label:hover {
	background-color: #eee;
	color: #555;
}

.form-check input[type="checkbox"]:checked + label {
	XXXcolor: red;
	XXXborder: 1px solid blue;
	
	border-radius: 15px;
	
	padding: 6px 12px;

	display: inline-block;
	*display: inline;
	zoom: 1;
	XXpadding: 6px 20px;
	margin: 0;
	cursor: pointer;
	border: 1px solid #bbb;
	overflow: visible;
	font: bold 13px arial, helvetica, sans-serif;
	text-decoration: none;
	white-space: nowrap;
	color: #555;

	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
	background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-ms-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
	background-clip: padding-box; /* Fix bleeding */

	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
	text-shadow: 0 1px 0 rgba(255,255,255, .9);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background-color: #57a957;
	border-color: #57a957;

	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);

	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));

}

.form-check input[type="checkbox"]:checked + label:hover {
	background-color: #eee;
	color: #555;
}

.form-check input[type="checkbox"] {
	opacity: 0;
}
