<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<%- include("../../includes/head") %>
</head>
<body>
<%- include("../../includes/header") %>

<div class="container">

	<h1>Help</h1>

	

</div>

</body>
</html>
